/* Global styles */

html {
  height: 100%;
}

.page {
  height: 100%;
  min-height: 100%;

  @include body;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    overflow: hidden;
  }
}

.page--lock {
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
